.App {
  max-width: 1366px;
  padding-left: 123px;
  padding-right: 123px;
  padding-top: 35px;
}

.App.dark {
  background-color: #000000;
}

.App.light {
  background-color: #ffffff;
}

@media (max-width: 1365px) {
  .App {
    max-width: 1024px;
  }
}

@media (max-width: 1023px) {
  .App {
    max-width: 768px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .App {
    max-width: 320px;
    padding: 0;
  }
}

@media (max-width: 319px) {
  .App {
    padding: 0;
    max-width: none;
  }
}
